/* --- История --- */
.history {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
}

.history h1 {
  text-align: center;
  color: #001f4d;
  margin-bottom: 20px;
}

.history img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

body.dark .history img {
  box-shadow: 0 4px 10px rgba(255,255,255,0.2);
}