
/* --- Матчи --- */
.matches {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.matches h1 {
  text-align: center;
  color: #001f4d;
  margin-bottom: 20px;
}

.matches table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
}

.matches th, .matches td {
  border: 1px solid #002f6c;
  padding: 12px;
  text-align: center;
}

.matches th {
  background: #001f4d;
  color: #fff;
}

.matches tr:nth-child(even) {
  background: #f2f6ff;
}

.matches tr:hover {
  background: #e6f0ff;
  transition: background 0.3s;
}


body.dark .matches th {
  background: #333;
  color: #ffcc00;
}

body.dark .matches td {
  border: 1px solid #666;
}

body.dark .matches tr:nth-child(even) {
  background: #1a1a1a;
}

body.dark .matches tr:hover {
  background: #333;
}