/* --- Контакты --- */
.contact {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.contact h1, .contact h2 {
  color: #001f4d;
  margin-bottom: 15px;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.contact button {
  background: #0055a5;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact button:hover {
  background: #003f7f;
}

.social {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0 0 20px 0;
  padding: 0;
}

.social a {
  text-decoration: none;
  color: #0055a5;
  font-weight: bold;
  transition: color 0.3s;
}

.social a:hover {
  color: #ffcc00;
}


body.dark .contact input,
body.dark .contact textarea {
  background: #1a1a1a;
  color: #e6f0ff;
  border: 1px solid #666;
}

body.dark .contact button {
  background: #ffcc00;
  color: #001f4d;
}

body.dark .social a {
  color: #e6f0ff;
}

body.dark .social a:hover {
  color: #ffcc00;
}